{% extends 'blog/base.html' %}

{% block dish_list_type_appetizer %}
    {% for dish in dish_type_appetizer %}
        <div class="col-md-4">
            <div class="card hoverable">
                <div class="card-image">
                    <div class="view overlay hm-white-slight z-depth-1">
                        {% if dish.photo %}
                            <img src="{{ dish.photo.url }}" class="img-responsive" alt="">
                        {% endif %}
                        <div class="mask waves-effect"></div>
                    </div>
                </div>
                <div class="card-content">
                    <ul>
                        <li><h5>{{ dish.name }}</h5></li>
                        <li><h5><i class="fa fa-eur"></i>{{ dish.price }}</h5></li>
                        {% if dish.type == 1 %}
                            <li><h5>Type: Appetizer</h5></li>
                        {% endif %}
                        {% if dish.type == 2 %}
                            <li><h5>Type: Main Course</h5></li>
                        {% endif %}
                        {% if dish.type == 3 %}
                            <li><h5>Type: Dessert</h5></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-btn text-center">
                    <a href="{% url 'dish_description' pk=dish.pk %}"
                       class="btn btn-success btn-md waves-effect waves-light">Dish Information</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}